DirectoryIndex index.php

RewriteEngine on

RewriteBase /ticketsystem

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_URI} \/index\.php$ [NC]
### Weblication Volltextsuche "Weblication-Grid/5.0 (wSearchBot)" ausschliessen:
RewriteCond %{HTTP_USER_AGENT} !^Weblication.*(wSearchBot).*$ [NC]
RewriteCond %{THE_REQUEST} ^GET
RewriteRule ^(.*)index\.php$ /ticketsystem/$1?%{QUERY_STRING} [R=301,L]